.my-nav{
  background: #FF6600;
}
.my-nav ul{
  margin: 10px 0;
}
body {
  padding-top:70px;
  
  /*
  行內(inline style)的宣告樣式優先權大於檔案內(internal style)的
  宣告樣式大於從外部(external style)匯入的宣告樣式。
  若彼此有衝突時會以行內為先。
  background: url('./img/backgroud.jpg') no-repeat center center fixed;
  background-size: cover;

   */

}
.container
{
  margin-top: 2%;
}
#about{
  border-radius: 8px;
  background-color:   #FFFFFF ;
  opacity: 0.9;

}
#about, #my-work, #contact-me { 
padding-top: 70px; 
}


